<div class="weather-display-container">
  <h1 class="app-title">Weather App</h1>

  <div>
    <app-geo-coordinates
      (latitudeChange)="updateLatitude($event)"
      (longitudeChange)="updateLongitude($event)"
    >
    </app-geo-coordinates>
  </div>

  <div>
    <button (click)="fetchWeatherData()">Get Weather Data</button>
  </div>

  <!-- Loader while API call is in progress -->
  <div *ngIf="isLoading()" class="loader-container">
    <div class="spinner"></div>
    <p>Loading weather data...</p>
  </div>

  <div *ngIf="weatherDataExists">
    <div class="app-section">
      <h2>Weather Data</h2>
    </div>

    <div class="weather-index">
      <label>Latitude:</label>
      {{ weatherIndex().latitude }}
    </div>

    <div class="weather-index">
      <label>Longitude:</label>
      {{ weatherIndex().longitude }}
    </div>

    <div class="weather-index">
      <label>Timezone:</label>
      {{ weatherIndex().timezone }}
    </div>

    <table class="weather-table">
      <thead>
        <tr>
          <th (click)="toggleDateSort()">
            Date
            <span>{{ dateSortDirection === 'asc' ? '▲' : '▼' }}</span>
          </th>
          <th>Temperature Max (°C)</th>
          <th>Temperature Min (°C)</th>
          <th>Precipitation (mm)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of weatherData(); let i = index">
          <td>{{ item.date }}</td>
          <td>{{ item.temperatureMax }}</td>
          <td>{{ item.temperatureMin }}</td>
          <td>{{ item.precipitation }}</td>
        </tr>
      </tbody>
    </table>

    <div class="app-section">
      <h2>Errors</h2>
    </div>

    <div *ngFor="let errors of weatherApiErrors()">
      <div class="flagError">{{ errors[1] }}</div>
    </div>

    <p></p>
  </div>
</div>
